.talefun {
    &.panel {
        display: flex;
        flex-wrap: wrap;

        .panel-item {
            flex: 1;
        }

        @media screen and (max-width: 1024px) {
            .panel-item {
                flex: initial;
                width: 100%;
            }
        }
    }

    &.label {
        position: relative;

        .label-title {
            font-size: 14px;
            line-height: 36px;
            color: #1f2d3d;

            .label-desc {
                line-height: 36px;
                font-size: 10px;
                color: #909399;
            }
        }
    }
}